@charset "UTF-8";
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');*/
* {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 100vw;
}
html a,
body a {
  text-decoration: none;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  /* width: 200px;*/
  height: 50px;
  color: #F9B640;
  background-color: transparent;
  padding: 10px;
}

.button:hover {
  background-color: #F9B640;
  color: #ffffff;
}

.chapter {
  margin: 5vw auto;
  padding-top: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 72%;
  position: relative;
  font-size: calc((100vw - 480px) / 960 * 16 + 16px);
  line-height: 1.06;
  letter-spacing: -0.006em;
  border-top: 1px solid #fff;
  color: #FFFFFF;
}

.chapter::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: #E9B730;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-top: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 767.98px) {
  .chapter::before {
    margin-top: 5px;
  }
}
@media (max-width: 459.98px) {
  .chapter::before {
    margin-top: 2px;
  }
}
.greeting {
  /* width: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.greeting__body {
  padding: 1px;
  /* width: 80%;*/
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  /* height: 100%;*/
  background-color: #F4F9E2;
}

.greeting__header {
  width: 100%;
  /* height: 8.3vw;*/
  height: 90px;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  padding-left: 12.5vw;
  padding-right: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.greeting__header .butheader {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  background: #62D0DF;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.greeting__header .butheader:hover {
  background-color: #56b7c4;
}

.icon-burger {
  display: none;
}

.logo {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #62D0DF;
}

.greeting__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 233px;
          flex: 0 1 233px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.menu__narrow {
  display: none;
}

li {
  font-size: 14px;
  font-size: calc((100vw - 480px) / 960 * 6 + 14px);
  line-height: 1.5;
  list-style-type: none;
}
li a {
  color: #22356F;
}

/*-----------------------------------------------*/
.greeting__info {
  width: 34vw;
  margin-top: 21vw;
  margin-left: 12vw;
  /* position: absolute;
  top: 17vw;
  left: 12.5vw;*/
}

.greeting__subtitle {
  padding-bottom: 3.5vw;
}

.greeting__title {
  font-size: calc((100vw - 480px) / 960 * 32 + 16px);
  /*font-size: 48px;*/
  line-height: 1.15;
  letter-spacing: 2px;
  color: #22356F;
  padding-bottom: 4.2vw;
}

.greeting__text {
  font-size: calc((100vw - 480px) / 960 * 12 + 12px);
  /* font-size: 24px;*/
  line-height: 1.75;
  color: #22356F;
  text-align: justify;
  margin-bottom: 4.2vw;
}

.greeting__buttons {
  margin-bottom: 5.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greet__butt1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.greet__butt2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
.greeting__graf {
  width: 37vw;
  height: 56vw;
  position: absolute;
  right: 0vw;
  top: -2vw;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.greeting__graf::after {
  content: "";
  width: 37vw;
  height: 56vw;
  border-radius: 21vw;
  /*312px;*/
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background-color: #EDFDFF;
  position: absolute;
  top: -1.8vw;
  right: 4.85vw;
  z-index: -2;
}
.greeting__graf .oval {
  width: 100%;
  height: 100%;
  border-radius: 21vw;
  overflow: hidden;
}
.greeting__graf img {
  display: block;
  width: 100%;
  -o-object-position: -150% 70%;
     object-position: -150% 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(130%) rotate(-60deg) translateY(40px) translateX(-25%);
          transform: scale(130%) rotate(-60deg) translateY(40px) translateX(-25%);
}

/*----------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 991.98px) {
  .greeting {
    display: block;
    min-height: 100vh;
    overflow: hidden;
  }
  .greeting__body {
    width: 100%;
    background-color: #F4F9E2;
  }
  .greeting__header {
    width: 100%;
    height: 90px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 12.5vw;
    padding-right: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .greeting__info {
    width: 68vw;
    margin-top: 21vw;
    margin-left: 12vw;
  }
  .greeting__graf {
    display: block;
    position: static;
    width: 100vw;
    /* height: 120vw;*/
    margin-bottom: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .greeting__graf::after {
    display: none;
  }
  .greeting__graf .oval {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    overflow: hidden;
  }
  .greeting__graf img {
    display: block;
    width: 100%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -o-object-fit: contain;
       object-fit: contain;
    /*  transform: scale(130%) rotate(-60deg) translateY(40px) translateX(-25%);*/
    -webkit-transform: translateY(0px) translateX(0%);
            transform: translateY(0px) translateX(0%);
  }
  .greeting__graf img {
    width: 100%;
    height: 130%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Рисование бургера---------------------------------------*/
@media (max-width: 767.98px) {
  .greeting__header {
    position: static;
  }
  .icon-burger {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-burger div,
  .icon-burger::before,
  .icon-burger::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  .icon-burger::before,
  .icon-burger::after {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .icon-burger::before {
    display: block;
    top: 0;
  }
  .icon-burger::after {
    display: block;
    bottom: 0;
  }
  .icon-burger div {
    top: 8px;
  }
  /*---------------------превращение бургера в крестик--------------------------*/
  .icon-burger:hover div {
    width: 0;
  }
  .icon-burger:hover::before {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .icon-burger:hover::after {
    bottom: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  /*-----------------------------------------------*/
  .greeting__menu {
    display: none;
    /* position:absolute;
           top: 0;       
     left: 100%;
     transition: left 0.3s ease 0s;*/
  }
  .greeting__info {
    width: 70vw;
    padding-top: 50px;
    margin: 0 auto;
  }
  .menu__body {
    position: sticky;
  }
  .butheader {
    /*  order: 2;*/
  }
  .icon-burger {
    /*  order: 4;*/
  }
  .icon-burger:hover ~ nav {
    left: 0;
  }
  .menu__narrow {
    /*position: absolute;
    left:-100%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    right: 0;
    width: 100vw;
    background-color: antiquewhite;
    overflow: auto;
  }
  .menu__list {
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
  }
  .menu__list a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .greeting__graf img {
    width: 100%;
    height: 130%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 479.98px) {
  .butheader {
    font-size: 10px;
    line-height: 0.5;
    padding: 5px 15px;
  }
  .greeting__graf img {
    width: 100%;
    height: 130%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 431.98px) {
  .greeting {
    min-height: auto;
  }
  .logo-header {
    display: none;
  }
  .greeting__graf img {
    width: 100%;
    height: 130%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*-----------------------------------------------------------------------------*/
/*@mixin fontz($fmin, $fmax) {
    font-size: calc((100vw - 480px) / (1440 - 480) * ($fmax - $fmin) + $fmin); 
}*/
.introduce {
  display: grid;
  grid-template-columns: 1fr 36vw;
  /* grid-template-rows:42vw;*/
  background-color: #62D0DF;
}

.introduce__body {
  color: #ffffff;
  margin-left: 12.5vw;
  margin-right: 5vw;
  margin-top: 10.4vw;
}

.introduce__text {
  font-size: calc((100vw - 480px) / 960 * 12 + 12px);
  line-height: 1.5;
  padding-bottom: 5em;
}
.introduce__text p {
  font-weight: 900;
}

.introduce__title {
  font-size: calc((100vw - 480px) / 960 * 24 + 16px);
  margin-bottom: 5.2vw;
}

.introduce__foto {
  grid-column-start: 2;
}
.introduce__foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------------------------------*/
@media (max-width: 837.98px) {
  .introduce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows:42vw;*/
    background-color: #62D0DF;
  }
}
@media (max-width: 827.98px) {
  .introduce {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-areas: "foto foto";
  }
  .introduce__body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-25%, -70%);
            transform: translate(-25%, -70%);
    margin-top: 10px;
    margin-left: 30px;
  }
  .introduce__foto {
    grid-area: foto;
  }
  .introduce__text {
    padding-bottom: 5px;
  }
}
.about {
  height: 42vw;
  display: grid;
  grid-template-columns: 30vw 6fr 4fr;
  /* grid-template-rows: 1fr auto 1fr;*/
  grid-template-rows: minmax(40px, 1fr) 1fr minmax(40px, 1fr);
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
  color: #22356F;
}
.about__title {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: calc((100vw - 480px) / 960 * 8 + 16px);
  text-align: center;
  line-height: 1.4;
}
.about__text {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: calc((100vw - 480px) / 960 * 12 + 12px);
  line-height: 1.4;
  letter-spacing: 0.005em;
}

@media (max-width: 991.98px) {
  .about {
    margin-bottom: 30px;
  }
}
@media (max-width: 431.98px) {
  .about {
    display: block;
    margin-top: 30px;
    padding: 20px;
  }
  .about__title {
    margin-bottom: 20px;
    font-weight: 700;
  }
}
.helping {
  width: 100%;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw 25vw;
  grid-template-areas: "title title title title" "chapter1 chapter2 chapter3 chapter4";
}

.helping__title {
  text-align: center;
  padding-top: 7vw;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(34, 53, 111, 0.5);
  grid-area: title;
}

@media (max-width: 991.98px) {
  .helping__title {
    padding-top: 1vw;
  }
  .helping {
    margin-bottom: 25px;
  }
}
@media (max-width: 665.98px) {
  .helping {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vw 25vw 25vw;
    grid-template-areas: "title title title title" " chapter1 chapter1 chapter2 chapter2" "chapter3 chapter3 chapter4 chapter4";
  }
}
@media (max-width: 479.98px) {
  .helping {
    grid-template-columns: 1fr;
    grid-template-rows: 10vw 50vw 50vw 50vw 50vw;
    grid-template-areas: "title " " chapter1" "chapter2" "chapter3" "chapter4";
  }
}
.cell1 {
  grid-area: chapter1;
}

.cell2 {
  grid-area: chapter2;
}

.cell3 {
  grid-area: chapter3;
}

.cell4 {
  grid-area: chapter4;
}

.helping__chapter {
  padding-top: 1px;
}

.helping__chapter1 {
  width: 100%;
  height: 100%;
  background-color: #FFE2DE;
}

.helping__chapter2 {
  width: 100%;
  height: 100%;
  background-color: #C4E769;
}

.helping__chapter3 {
  width: 100%;
  height: 100%;
  background-color: #62D0DF;
}

.helping__chapter4 {
  width: 100%;
  height: 100%;
  background-color: #0052C1;
}

.health {
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  grid-template-rows: 33.33vw 33.33vw;
  margin-bottom: 25px;
}

.box {
  border: 1px dashed #ece89d;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.box .health__box > div {
  height: 6.7vw;
}

.health__box1 {
  background-color: #22356F;
}

.health__box2 {
  background-color: #0052C1;
}

.health__box3 {
  background: center/cover no-repeat url("../img/healthe/strobary.jpg"), #8ad0d3;
}

.health__box4 {
  background-color: #62D0DF;
}

.health__box5 {
  background: #DEE1FF;
}

.health__box6 {
  background: #8F00FF;
}

/*---------------------------------------------------------------------------------------*/
@media (max-width: 767.98px) {
  .health {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vw 50vw 50vw;
    margin-bottom: 25px;
  }
}
@media (max-width: 479.98px) {
  .health {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 50vw);
    margin-bottom: 25px;
  }
}
.articls {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 17vw 17vw;*/
  margin-bottom: 25px;
}

.art {
  font-size: calc((100vw - 480px) / 960 * 16 + 12px);
  /* font-size: calc((100vw - 480px) / (1440 - 480) * (28 - 12) + 12px);*/
  line-height: 33px;
  padding: 55px 77px 37px 105px;
  overflow: hidden;
}

.art__title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
  margin-bottom: 28px;
}

.art__text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

/*-----------------------------------------------------------------------*/
@media (max-width: 991.98px) {
  .articls {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 17vw 17vw;*/
  }
}
@media (max-width: 767.98px) {
  .articls {
    grid-template-columns: 1fr;
    /* grid-template-rows: 17vw 17vw;*/
  }
  .art__title {
    color: #22356F;
    margin-bottom: 15px;
  }
  .art {
    padding: 30px 50px 30px 50px;
    overflow: hidden;
  }
}
.add {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 66vw 66vw;*/
  grid-template-areas: "foto1 body1 body1" "body2 body2 foto2";
}

.add__foto1 {
  grid-area: foto1;
}
.add__foto1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.add__body1 {
  grid-area: body1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 4em;
  padding-left: 6.6em;
  padding-bottom: 2.6em;
  padding-right: 11em;
}

.add__body2 {
  grid-area: body2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #22356F;
  padding-top: 4em;
  padding-right: 12.5em;
  padding-bottom: 3.7em;
  padding-left: 11.25em;
}
.add__body2 a:hover > div {
  color: #FAB63E;
}

.add__foto2 {
  grid-area: foto2;
}
.add__foto2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.add__preamble {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
}

.add__preamble_1 {
  color: #22356F;
}

.add__preamble_2 {
  color: #fff;
}

.add__title {
  font-size: calc((100vw - 480px) / 960 * 28 + 36px);
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 50px;
}

.add__text {
  font-size: calc((100vw - 480px) / 960 * 20 + 16px);
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.add__text_1 {
  color: #22356F;
}
.add__text_1 a {
  color: #6CD3E1;
}
.add__text_1 a:hover {
  color: #FAB63E;
}

.add__text_2 {
  color: #fff;
  margin-top: 2em;
}

.add__getting {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
}

.add__getting_1 {
  color: #FAB63E;
}

.add__getting_2 .button {
  color: #62D0DF;
}

/*---------------------------------------------------------*/
@media (max-width: 837.98px) {
  .add {
    width: 100%;
    display: block;
  }
  .add__body1 {
    padding-top: 4em;
    padding-left: 40px;
    padding-bottom: 2.6em;
    padding-right: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .add__body2 {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .add__foto1 {
    width: 100vw;
    height: 70vw;
  }
  .add__foto1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .add__foto2 {
    width: 100vw;
    height: 80vw;
  }
  .add__foto2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.footer {
  display: grid;
  grid-template-columns: 40vw 1fr;
}

.footer__foto {
  grid-column-start: 1;
}
.footer__foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__contact {
  grid-column: 2/span 1;
  font-size: calc((100vw - 480px) / 960 * 10 + 14px);
  padding: 4em 1.6em 4em 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center;*/
}

.footer__enfold .footer__enfold-link {
  color: #006DFF;
}
.footer__enfold .footer__enfold-link:hover {
  color: #689ce3;
}

.content-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 25px 0 25px;
}

.footer__title {
  /*font-size: 14px;*/
  line-height: 1.1;
  letter-spacing: -0.006em;
  color: #22356F;
  margin-bottom: 2em;
}

.footer__text {
  /*font-size: 14px;*/
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(34, 53, 111, 0.5);
}

.footer__legals {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 195px;
  background-color: #62D0DF;
  padding-top: 2.3em;
  padding-bottom: 2.3em;
}
.footer__legals span {
  color: #ffffff;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 1px;
}
.footer__legals span::before {
  content: "©";
}

@media (max-width: 991.98px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer__foto {
    display: none;
  }
  .footer__contact {
    grid-column: 1/span 1;
  }
  .footer__title {
    /*------------------Шрифты наследуются тут---------------------*/
    margin-bottom: 30px;
  }
}
@media (max-width: 659.98px) {
  .footer__contact {
    display: block;
  }
  .footer__legals {
    padding-left: 70px;
  }
  .footer__title {
    /*font-size: 14px;*/
    margin-bottom: 15px;
  }
  .footer__text {
    margin-bottom: 20px;
  }
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.content {
  min-height: 100vh;
}/*# sourceMappingURL=style.css.map */