.about {
    height: 42vw;
    display: grid;
    grid-template-columns: 30vw 6fr 4fr;
   /* grid-template-rows: 1fr auto 1fr;*/
    grid-template-rows: minmax(40px, 1fr) 1fr minmax(40px, 1fr);
    align-items: first baseline;
    color: #22356F;
    overflow: auto;                 /*----------------??-----------*/

    .about__title {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        @include fontz(16, 24);
        text-align: center;

        line-height: 1.4;
    }

    .about__text {
        grid-column: 2/3;
        grid-row: 2/3;

        @include fontz(12, 24);
        line-height: 1.4;
        letter-spacing: 0.005em;
       


    }
}