.chapter {
    margin: 5vw auto;
   
    padding-top: 0.8em;
    display: flex;
    width: 72%;
   position: relative;
      /*height: 60%;*/
    /* background-color: blueviolet;*/

    @include fontz(16, 32);
    line-height: 1.06;
    letter-spacing: -0.006em;
    border-top: 1px solid #fff;
    color: #FFFFFF;
   


   /*&>div::before {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        background: #E9B730;
        border-radius: 50%;
        margin-right: 0.5em;
        margin-bottom: 0.06em;

    }*/
}
.chapter::before {
    content: "";
    /*position: absolute;
    top: 0;
    left: 0;*/
    display:block;
    width: 9px;
    height: 9px;
    background: #E9B730;
    border-radius: 50%;
    margin-right: 0.5em;
    margin-top: 10px;
    flex-shrink: 0;
}