.health {
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    grid-template-rows: 33.33vw 33.33vw;
    margin-bottom: 25px;
}

.box {
    
    border: 1px dashed #ece89d;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    .health__box {
        &>div {
            height: 6.7vw;
        }
    }
}
.health__box1 {
    background-color:#22356F;
}

.health__box2 {
    background-color:#0052C1;
}
.health__box3 {
    background: center / cover no-repeat url("../img/healthe/strobary.jpg"),#8ad0d3 ;
}
.health__box4 {
    background-color:#62D0DF;
}
.health__box5 {
    
    background: #DEE1FF;
}
.health__box6 {
    background: #8F00FF;
}
/*---------------------------------------------------------------------------------------*/
@media (max-width:991.98px) {
   
}

@media (max-width:767.98px){
    .health {
        
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vw 50vw 50vw;
        margin-bottom: 25px;
    }
}
@media (max-width:479.98px) {
    .health { grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 50vw);
    margin-bottom: 25px;
    }
}